@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");

:root {
    --lg-fonts: "Kaisei Tokumin", serif;
    --sm-fonts: "Poppins", sans-serif;
    --text-color-white: #fff;
    --main-color: #ff7a00;
    --secondary-color: #ffd1a6;
}
body {
    font-family: var(--sm-fonts);
    box-sizing: border-box;
}

.bg-primary {
    background-color: var(--main-color) !important;
}
.btn:not(.nav-btns button) {
    background: var(--text-color-white);
    color: rgb(85, 85, 85);
    padding: 10px 30px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover {
    background: var(--main-color);
    border-color: var(--main-color);
    color: var(--text-color-white);
}
.text-primary,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--main-color) !important;
}
.text-color-white {
    color: var(var(--text-color-white)) !important;
}
.content-li {
    margin: 10px;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: Global style finished */

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: navbar start */
.navbar {
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.nav-link:hover {
    color: var(--main-color) !important;
}
.nav-item {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: navbar finished */

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: header start */
#header {
    /* background: url(./../image/blog_img.png) top/cover no-repeat; */
    background-color: var(--secondary-color);
}
#header .right-section img {
    height: 380px;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: header finished */

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: statistics start */
.icon-background {
    background: var(--main-color);
    border-radius: 100%;
    /* border-radius: 10px; */
    padding: 18px;
    color: var(--text-color-white);
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: statistics finished */

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: prevent start */
#prevent,
#symptoms,
#footer {
    background: var(--secondary-color);
}
#prevent .box-1,
.box-2 {
    width: 35%;
}
.home-icon {
    background: var(--main-color);
    /* padding: 10px 10px; */
    text-align: center;
    padding: 0;
    margin: 0;
    /* height: 10rem; */
}
#prevent .box-1,
.box-2,
.box-3,
.box-4,
.box-details {
    /* padding: 20px; */
    background: var(--text-color-white);
    box-shadow: 0 3px 9px 3px rgb(0 0 0 / 10%);
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: prevent finished */

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: symptoms start */
.symptoms-text {
    color: var(--main-color);
    font-size: 24px;
}
.fa-check-circle {
    color: seagreen;
}
.fa-times-circle {
    color: red;
}
.fa-home,
.fa-play {
    background: var(--main-color);
    padding: 0 10px;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: symptoms finished */

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: blog start */
/* #blog .blog-data span {
    background: red;
    padding: 10px 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    z-index: 99;
} */

.bg-date {
    top: 5px;
    right: 5px;
    background-color: var(--text-color-white);
    padding: 3px 10px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 3px;
    position: absolute;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: blog finished */

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: footer start */
#footer .fas,
.fab {
    color: var(--main-color);
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: footer finished */

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: footer-bottom finished */
#footer-bottom {
    background: var(--main-color);
    color: var(--text-color-white);
    padding: 10px;
}
#footer-bottom a {
    color: var(--text-color-white);
    padding: 0 5px;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: footer-bottom finished */
@media (min-width: 992px) {
    .nav-item {
        border-bottom: none;
    }
}
